<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <form>
      <h2><%= description %></h2>
      <!--<br>
      <a href="http://accounts.facturactiva.com/signout">Close</a>-->
    </form>
  </body>
</html>
