<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <% if (accountFullName) { %>
      <h2>Hola <%= accountFullName %></h2>
      <a href="/signout">Cerrar Sesión</a>
    <% } else { %>
      <a href="/signup">Crear Cuenta</a>
      <a href="/signin">Indentificarse</a>
    <% } %>

    <br>

    <!--<img src="img/logo.png" alt="Logo">-->
  </body>
</html>
