<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <form action="http://accounts.facturactiva.com/authenticate" method="post">
      <input type="hidden" name="callback" value="<%= callback %>">
      <div>
        <label>Usuario:</label>
        <input type="text" name="username">
      </div>
      <div>
        <label>Contraseña:</label>
        <input type="password" name="password">
      </div>
      <div>
        <input type="submit" value="Identificarse">
      </div>
    </form>
  </body>
</html>
