<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <form action="/signup" method="post">
      <div>
        <label>Nombres:</label>
        <input type="text" name="firstName">
      </div>
      <div>
        <label>Apellidos:</label>
        <input type="text" name="lastName">
      </div>
      <div>
        <label>Correo Electrónico:</label>
        <input type="text" name="email">
      </div>
      <div>
        <label>Nombre de Usuario:</label>
        <input type="text" name="username">
      </div>
      <div>
        <label>Contraseña:</label>
        <input type="password" name="password">
      </div>
      <div>
        <input type="submit" value="Crear Cuenta">
      </div>
    </form>
  </body>
</html>
